<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Hello WinQi</h1>

    <ul>
        {{#each snap}}
        <li>
            {{ message }}
        </li>
        {{/each}}
    </ul>
</body>

</html>